{
 :source-paths ["src/main" "src/dev"]

 :dependencies [[no.cjohansen/replicant "2025.03.02"]
                [com.thheller/shadow-css "0.5.0"]]

 :nrepl {:port 9876}

 :dev-http {8000 "public-dev"}

 :builds {:dev {:target :browser
                :output-dir "public-dev/js"
                :asset-path "/js"
                :modules {:main {:init-fn my-app.core/init}}
                :devtools {:repl-init-ns my-app.core}
                }}
 }

